
#loginLink {
    float: center;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-style: dotted;
    color: mediumpurple;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;

}
#loginText:link {
    text-decoration: none;
    color: mediumpurple;
}
#loginLink:link {
    color: mediumpurple;
}
#loginLink:hover {
    color: coral;
}
#loginText:hover {
    text-decoration: none;
    color: coral;
}
#header {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: mediumpurple;
    display: inline-block;
}
#searchPlaces {
    float: center;
    width: fit-content;
    border: coral;
    border-style: dotted;
    padding: 5px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
#mainBody {
    width: 100%;
    background-color: aquamarine;
}
#myPlaces {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
}
#addNew {
    float: center;
margin-left: 10px;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border-style: dotted;
    color: mediumpurple;
    padding: 5px;
    text-decoration: none;
}
#addNew:hover {
    color:coral;
}
#searchResults {
    display: flex;
}
