
#loginLink {
    float: center;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-style: dotted;
    color: mediumpurple;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;

}
#loginText:link {
    text-decoration: none;
    color: mediumpurple;
}
#loginLink:link {
    color: mediumpurple;
}
#loginLink:hover {
    color: coral;
}
#loginText:hover {
    text-decoration: none;
    color: coral;
}
#header {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: mediumpurple;
    display: inline-block;
}
#searchPlaces {
    display: flexbox;
    width: fit-content;
    border: coral;
    border-style: dotted;
    padding: 15px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
#mainBody {
    width: 100%;
    background-color: aquamarine;
}
#myPlaces {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
}
#addNew {
    float:center;
    text-align: center;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border-style: dotted;
    color: mediumpurple;
    padding: 10px;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}
#new {
    float:center;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:5px;
}
#addNew:hover {
    color:coral;
}
#searchResults {
    display: inline;
    text-decoration: none;
    color: black;
    text-align: center;

}
#aPlace {
    display: flexbox;
    text-decoration: none;
    color: black;
}
#aRating {
    display: flex;
}
#review {
    margin-left:10px;
}

label {
    margin-left:10px;
}