#newPlace{
    width:fit-content;
    padding: 15px;
    border: dotted;
    margin-left:auto;
    margin-right:auto;
}
#addInfo {
    padding: 10px;
    margin: 10px;
    border: dotted;
    width: fit-content;
    border-color: coral;
}

#input {
    display:inline;
    margin-left:15px;
    margin-right: 5px;
}
button {
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
}